:root {
  --accent-color: #2196f3;
  --heading-color: #212121;
  --main-color: #757575;
  --secondary-color: #ffffff;
}

P,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--secondary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.header-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.header-logo-sudio {
  color: var(--heading-color);
}

.header-link {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--heading-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list-address {
  display: flex;
  margin-left: auto;
}

.header-address .header-item + .header-item {
  margin-right: 50px;
}

.header-address {
  color: var(--main-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 30px auto;
}
.hero-title {
  margin-top: 0;
}

.hero-btn {
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 130px;
  padding: 10px 32px;
  border: transparent;
}

/* About */

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.about-item {
  display: flex;
}

.about-item .about-list:not(:last-child) {
  margin-right: 30px;
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about-text-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}

/* Work */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.work-list {
  display: inline-block;
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  padding: 0;
  margin-bottom: 50px;
}

/* Team */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
}

.img {
  margin-bottom: 30px;
}

.about-team {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}
.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 60px;
  margin-bottom: 20px;
  display: flex;
}

.footer-logo-sudio {
  color: var(--secondary-color);
}

.address-footer {
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.footer-address {
  color: #ffffff99;
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

/* Portfolio Main */

.only-button {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-list {
  display: flex;
  text-align: center;
}

.main-button {
  font-family: inherit;
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
}

.main-button:hover,
.main-button:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.main-item:not(:last-child) {
  margin-right: 8px;
}

.examples {
  padding-top: 34px;
  padding-bottom: 94px;
  display: inline-flex;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.picture {
  display: flex;
}

.picture {
  width: 380px;
  height: 294px;
  padding-bottom: 20px;
}

.examples-item {
  margin-right: 30px;
  margin-bottom: 20px;
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}

.about-title-list {
  margin-bottom: 4px;
  margin-left: 24px;
}

.about-text-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: 24px;
}
